<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo List</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js" integrity="sha512-mx0L9xs+R5jFQ6OoBbS9oOfdPyymQXsrSAjJ8rncuCxA9FPPrlrCxrr8Xwo+N246jOgHtIPBR0eF61OQuPSoDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form action="">
                <input type="text" name="item" placeholder="add new item..." required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(let i = 0; i < todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </div>
        <script type="text/javascript" src="assets/todo-list.js"></script>
    </body>
</html>
